@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

body {
	font: 100%/1.5em sans-serif;
    font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	background: #f2f2f2;
}

a {
	color: #1dabb8;
	font-style: bold;
	text-decoration: none;
}

a:hover { color: yellowgreen; }

#tag {
	color: #999;
	text-decoration: none;
	margin-left: 20px;
}

#tag: hover
{
	color: red;
}

#h1_
{
  margin-left: 20px;
}

#task-cathegory
{
	color: orange;
	margin-left: 20px;
}

#task-name
{
	font-size: 25px;
	margin-left: 15px;
	margin-top: 15px;
}

#task-complexity-level
{
	margin-left: 20px;
}